* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#base {
    height: 320px;
    width: 255px;
    margin: 50px auto;
    background-color: #585858;
    border-radius: 8%;
    padding: 20px;
}

#outputbox {
    margin: 20px 5px;
    height: 40px;
    width: 205px;
    text-align: right;
    background-color: #CDDECE;
    border-radius: 8%;
    font-size: 34px;
    font-family: 'Unica One', cursive;
    overflow: hidden;
}

button {
    width: 40px;
    height: 30px;
    margin: 5px;   
    background-color: #EAEAEA;
    border-radius: 8%;
}

.clear {
     background-color: #B86F83;
}

.power {
    background-color: #789DA0;
}